/* Error, Success, Warning and Info Messages */
.uix-bg-custom-info-msg,
.uix-bg-custom-success-msg,
.uix-bg-custom-warning-msg,
.uix-bg-custom-error-msg {
    margin: 10px 0;
    padding: 10px;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	display: block;
}

.uix-bg-custom-info-msg {
    color: #059;
    background-color: #BEF;
}

.uix-bg-custom-success-msg {
    color: #270;
    background-color: #DFF2BF;
}

.uix-bg-custom-warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}

.uix-bg-custom-error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}



/* General */
.uix-bg-custom-wrapper img {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.uix-field-custom-style img {
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.uix-field-custom-style label {
    padding-right: 1.5em;
}

.rtl .uix-field-custom-style label {
    padding-right: auto;
    padding-left: 1.5em;
}

.uix-field-custom-style .sp-con {
    position: relative;
    width: 137px;
    display: inline-block;
}

.uix-field-custom-style .sp-con .title {
    position: absolute;
    bottom: 0;
    display: block;
    background: rgba(0,0,0,.7);
    left: 0;
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: .2em 0;
    color: #fff;
}

.rtl .uix-field-custom-style .sp-con .title {
    left: auto;
    right: 0;
}

.uix-bg-custom-wrapper a {
    text-decoration: none;
}

.uix-bg-custom-wrapper code {
    border: 1px solid #B1B1B1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.uix-bg-custom-title {
    font-size: 1.1em;
    font-weight: bold;
}

.uix-bg-custom-title strong,
.uix-bg-custom-desc strong {
    color: #D16E15;
}

.uix-bg-custom-desc-note {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.uix-bg-custom-desc a {
    color: #D16E15;
    border-bottom: 1px solid #D16E15;
}

.uix-bg-custom-desc a:hover {
    border-color: transparent;
}

.uix-bg-custom-blockquote {
    background: #EBEBEB;
    border: 1px solid #F8F8F8;
    border-left: 7px solid #BEBEBE;
    padding: 0 2em 1.421875em;
    margin: 1.625em;
    font-style: italic;
    line-height: 2;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 1.14285714286em;
    color: #939393;
}

.rtl .uix-bg-custom-blockquote {
    border-left-width: 1px;
    border-right-width: 7px;
    border-left-color: #F8F8F8;
    border-right-color: #BEBEBE;
}
	
	
/* List */
ul.uix-bg-custom-list {
    list-style: disc;
    padding-left: 2em;
    padding-bottom: 2em;
    display: block;
}

.rtl ul.uix-bg-custom-list {
    padding-left: auto;
    padding-right: 2em;
}

ul.uix-bg-custom-list li {
}
	
	
	
/* FAQ area */
.uix-bg-custom-faq-group {
    padding: 10px;
    background: #FFFEEE;
    border: 1px solid #EEECCE;
    margin-bottom: 8px;
    margin: 1em 0;
}

.uix-bg-custom-faq-group p {
    margin: 0;
    padding: 0;
}

.uix-bg-custom-faq-group img {
    margin-top: .5em;
}

.uix-bg-custom-faq-group > h3 {
    font-size: 15px;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px dashed #EEECCE;
    display: block;
    color: #A39954;
}
		
.uix-bg-custom-faq-group .uix-bg-custom-faq-con {
    padding-bottom: 1.5em;
}

/* Accordion */
.uix-bg-custom-accordion h3 {
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: .5em;
}
.uix-bg-custom-accordion h3:hover {
	color: #0073AA;
}

.uix-bg-custom-accordion .uix-bg-custom-faq-con {
	display: none;
}
	
/* Code preview container */
.uix-popwin-dialog {
    width: 500px;
    height: 440px;
    padding: 20px 0 0 20px;
    background: #e8e8e8;
    border: 1px solid #dadada;
    font-family: sans-serif;
    -webkit-box-shadow: 0 1px 15px rgba(0,0,0,.8);
    -moz-box-shadow: 0 1px 15px rgba(0,0,0,.8);
    box-shadow: 0 1px 15px rgba(0,0,0,.8);
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -250px;
    display: none;
    z-index: 9999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rtl .uix-popwin-dialog {
    padding: 20px 20px 0 0;
}

.uix-popwin-dialog-mask {
    display: none;
    z-index: 9999998;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.uix-popwin-dialog textarea {
    width: 100%;
    height: 90%;
}

.uix-popwin-dialog .close {
    display: inline-block;
    margin-top: 3px;
}

@media all and (max-width: 540px) {
	
    .uix-popwin-dialog {
        width: 300px;
        margin-left: -170px;
    }
}


/* Button */
.button-remove {
    background: #DD421A !important;
    border-color: #DD421A #DD421A #DD421A !important;
    -webkit-box-shadow: 0 1px 0 #DD421A !important;
    box-shadow: 0 1px 0 #A10508 !important;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0 -1px 1px #A10508,1px 0 1px #A10508,0 1px 1px #A10508,-1px 0 1px #A10508 !important;
}
