/* Metaboxes Style */
.uix-metabox-group {
	padding: 10px;
	background: #FFFEEE;
	border: 1px solid #EEECCE;
	margin-bottom: 8px;
}

.uix-metabox-group > h3 {
	font-size: 12px;
	margin: 0;
	padding: 8px 0;
	border-bottom: 1px dashed #EEECCE;
	display: block;
	color: #A39954;
}

.uix-metabox-note {
	color: #A3A3A3;
}


/* Gridster Container */
.uix-pagebuilder-gridster {
	cursor: move;
	padding: 20px 0;
	margin-bottom: 20px;
}

/* Gridster Widgets */
.uix-pagebuilder-gridster ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.uix-pagebuilder-gridster-widget {
	border: 3px dashed #ED9D9E;
	background-color: #FFF4F5;
	position: relative;
	padding: 15px;
}

.uix-pagebuilder-gridster-widget.active {
	border: 3px dashed #C6E5BC;
	background-color: #E6F5E9;
}

.uix-pagebuilder-gridster-widget .content-box {
	width: calc( 100% - 80px );
	height: 25px;
	margin-top: 35px;
	display: none;
}

.uix-pagebuilder-gridster-widget .title-box {
	margin-left: 15px;
	background: #FCE8E8;
	border: none;
	outline: none;
	margin-top: 3px;
	font-weight: bold;
}

.uix-pagebuilder-gridster-widget.active .title-box {
	background: #DAEDBF;
}


.uix-pagebuilder-gridster-widget .title-box:hover,
.uix-pagebuilder-gridster-widget .title-box:focus {
	background: #fff;
}



/* Drag Area*/
.uix-pagebuilder-gridster-drag {
	background: #FCE8E8;
	height: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.uix-pagebuilder-gridster-widget.active .uix-pagebuilder-gridster-drag {
	background: #DAEDBF;
}


/* Remove Button */
.remove-gridster-widget {
	border: none;
	outline: none;
	color: #fff !important;
	font-size: 22px;
	color: #fff;
	position: absolute;
	right: 5px;
	top: 0;
	z-index: 5;
	cursor: pointer;
	display: block;
	background: none;
	text-shadow: 0 2px rgba(0,0,0,.3);
	
}

.remove-gridster-widget:hover {
	color: #DF2629 !important;
	text-shadow: 0 2px #fff;
}

.edit-gridster-widget {
	display: none;
}


/* Gridster Data */
#uix-pagebuilder-layoutdata {
	width:100%;
	height: 100px;
	margin: 10px 0;
	display: none;
	
}


/* Debug */
.debugging {
	display: none;
}


/* Section Buttons */
.widget-items-container {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	z-index: 6;
}

.widget-items-container .widget-item-btn {
	display: inline-block;
	margin-right: 12px;
	background: rgba(122, 208, 58, 1);
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	padding: 2px 5px;
	color: #fff;
	text-decoration: none;
	font-size: 10px;
	border: 1px solid RGBA(94, 184, 60, 1);
}
.widget-items-container .widget-item-btn:hover {
	filter: alpha(opacity=90);  
	-moz-opacity: 0.9;   
	opacity: 0.9; 
}


.widget-items-container .widget-item-btn.wait {
	display: none;
}

.widget-items-container .widget-item-btn.wait-no-content {
	display: inline-block;
}

.widget-items-container .widget-item-btn.used {
	display: inline-block;
	border: none;
	outline: none;
	background: #0085BA;
	padding: 3px;
	color: #fff;
	cursor: pointer;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	padding-right: 7px;
	font-weight: normal;
}
.widget-items-container .widget-item-btn.used:before {
	display: inline-block;
	content: "\f464";
	font-family:dashicons;
	font-size: 16px;
	vertical-align: middle;
	margin-right: 5px;
}


.widget-items-container .widget-item-btn.used:hover {
	background: #2886DA;
}

